<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <h1>{{ user.knownAs }}'s Profile</h1>
    </div>
  </div>
  <div class="row">
    <!-- Our left side of the member detail page -->
    <div class="col-sm-4">
      <div class="card">
        <img
          class="card-img-top img-thumbnail"
          src="{{
            user.photoUrl ||
              'https://mp4-a.udemycdn.com/2017-12-09_09-21-11-bbac3af559c4cddd56eb13b8c5da1e65/original.png?TEwWCuhFcpO4EZ-8OAX1IL61mInParE4KB4Hrm3YDirSaOAMyJv55xgLhzZqD4yRIN1Vgv1EKtPVfilxj6xwH6rRU6K7tqdlksoskSUIKWneHP3oSyBSBpkdUvUYFgnTVmt_5QOxO4559JTu3OnV1yHkzoRgv2BkwZvx4sXk22U'
          }}"
          alt="{{ user.knownAs }}"
        />
        <div class="card-body">
          <div class="">
            <strong>Location: </strong>
            <p>{{ user.city }}, {{ user.country }}</p>
          </div>
          <div>
            <strong>Age:</strong>
            <p>{{ user.age }}</p>
          </div>
          <div>
            <strong>Last Active:</strong>
            <p>{{ user.lastActive | date: "mediumTime" }}</p>
          </div>
          <div>
            <strong>Member since:</strong>
            <p>{{ user.created | date: "mediumDate" }}</p>
          </div>
        </div>
        <!-- Buttons to Like and Message User -->
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary w-100" (click)="sendLike(user.id)">
              Like
            </button>
            <button class="btn btn-success w-100">Message</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Our Tab section on the right of the member detail page -->
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="About {{ user.knownAs }}">
            <h4 *ngIf="user.introduction != null">Description</h4>
            <p>{{ user.introduction }}</p>
            <h4 *ngIf="user.lookingFor != null">Looking For</h4>
            <p>{{ user.lookingFor }}</p>
          </tab>
          <tab heading="Traits">
            <h4 *ngIf="user.interests != null">Traits</h4>
            <p>{{ user.interests }}</p>
          </tab>
          <tab heading="Photos">
            <ngx-gallery
              [options]="galleryOptions"
              [images]="galleryImages"
              class="ngx-gallery"
            ></ngx-gallery>
          </tab>
          <tab heading="Messages">
            <p>messages will go here</p>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
